@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-image: url(./background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h1 {
    color: rgb(255, 229, 143);
    display: flex;
    justify-content: center;
    margin-top: 20%;
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
}

.bsize {
    padding: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10%;
}

button:hover {
    background-color: rgb(151, 255, 92);
    text-decoration: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    padding: 10px 30px; 
}

a:hover {
    text-decoration: none;
}
